<div class="jumbotron">
	<h1>About Me</h1>
</div>

<div class="row">
	<div class="col-md-offset-3 col-md-3 col-xs-offset-3 col-xs-6">
		<%= image_tag("joel.jpg") %>
	</div>
	<div class="col-md-3 col-md-offset-0 col-xs-offset-3 col-xs-6">
		<h1 id="about">Joel Bergstein</h1>
		<p>I am currently a first year student at The Fuqua School of Business. I have worked in a steel mill as a reliability engineer with ArcelorMittal and as a management consultant with Accenture.</p>
		<p>I am interested in a career in Product Management and specifically building products that customers love. While business school is one component of that journey, I also enrolled in an online programming school to learn to develop web apps just like this. I'm about half way through and know that I have a lot to go!</p>
	</div>
</div>