<div class="jumbotron">
	<h1>Contact Me</h1>
</div>

<div class="row">
	<div class="col-md-offset-4 col-md-4 col-xs-offset-2 col-xs-8">
		<h3 id="contact"><p>Wanna learn more? Send me an e-mail!</p>
		<br>
		<span class="glyphicon glyphicon-envelope"></span><a href="mailto:joel.bergstein@duke.edu"> joel.bergstein@duke.edu</a></h3>
	</div>
</div>